<!DOCTYPE html>
<html>
    <head>
        <title> YelpCamp </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center">
            <a class="navbar-brand" href="/"> YelpCamp </a>
                    
            <div class="collapse navbar-collapse"> 
                <ul class="navbar-nav ml-auto"> 
                    <!-- Check if logged in + display -->
                    <% if(!currentUser) { %>
                        <li class="nav-item"> <a class="nav-link" href="/login"> Login </a> </li>
                        <li class="nav-item"> <a class="nav-link" href="/register"> Sign Up </a> </li>
                    <% } else { %>
                        <li class="nav-item"> 
                            <a class="nav-link" href="#">
                                Hello, <strong> <%=currentUser.username %> </strong> !
                            </a>  
                        </li>
                        <li class="nav-item"> <a class="nav-link" href="/logout"> Logout </a> </li>
                    <% } %>
                </ul> 
            </div>
        </nav>

        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert"> 
                <%= error %>
            </div>
        <% } %>

        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert"> 
                <%= success %>
            </div>
        <% } %>
        
        