<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(error => { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <li> 
                <strong> <%= error.message%> </strong> 
            </li>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        
    <% }) %>
<% } %>