<%- include("./partials/header") %>

<h1> Login </h1>

<form action="/login" method="POST">
    <label for="email"> Email </label>
    <input type="email" name="email" placeholder="email">
    <label for="password"> Password </label>
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
    <p> Create a new account?
        <a href="/register"> Register </a>
    </p>
</form>

<%- include("./partials/footer") %>